.box {
    float: left;
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
    background: rgba(238, 238, 238, 0.405);
    box-sizing: border-box;
    margin-top: 2%;
    font-size: 16px;

}

.box li{
    color: black;
    padding:1%;

    list-style-type: none;
}

.box li:hover {
    background-color:gainsboro;
}

.box li:active {
    color:red;
    
}


.noteListStylInt {
    float: left;
    margin-left: 2%;
    padding-left: 2.5%;
    width: 90%;
    background-color: rgba(220, 220, 220, 0.426)
}

// ProjectDashboard Style



.boxProjectdDash {
    margin: auto;
    width: 90%;

    background: rgba(238, 238, 238, 0.405);
    box-sizing: border-box;
    margin-top: 2%;


}

.noteListStylProjectDas {
    float: left;
    margin-left: 2%;
    padding-left: 2.5%;
    width: 90%;
    background-color:rgba(238, 238, 238, 0.405);
}
.noteListStylProjectDetails {
    float: center;
    margin-left: 2%;
    padding-left: 2.5%;
    width: 90%;
    background-color:rgba(238, 238, 238, 0.405);
}

.boxProjectdDash li:hover {
    background-color:gainsboro;

}




